mixin popup(data)
    .popup.mfp-hide&attributes(attributes)
            h2.popup__title Записаться на чип тюнинг со скидкой 5%
            form.popup__form.form(action="" method="")
                .form__field.form__field_select
                    label.form__label.flex
                        span.form__label-text Ваш город
                        .form__select-arrow
                        select.form__select
                            option(selected disabled) Выберите ваш город
                            option Москва
                            option Альметьевск
                            option Анапа
                            option Архангельск
                            option Астрахань
                            option Барнаул
                            option Брянск
                            option Владивосток
                            option Волгоград
                            option Вологда
                            option Воронеж
                            option Владикавказ
                            option Грозный
                            option Екатеринбург
                            option Иваново
                            option Ижевск
                            option Иркутск
                            option Йошкар-Ола
                            option Казань
                            option Калуга
                            option Калининград
                            option Киров
                            option Кемерово
                            option Краснодар
                            option Красноярск
                            option Кызыл (республика Тыва)
                            option Магнитогорск
                            option Махачкала
                            option Мурманск
                            option Набережные Челны
                            option Наро-фоминск
                            option Нижний Новгород
                            option Новосибирск
                            option Орел
                            option Обнинск
                            option Омск
                            option Оренбург
                            option Пермь
                            option Пенза
                            option Пятигорск
                            option Ростов-на-Дону
                            option Рязань
                            option Самара
                            option Саратов

                            option Севастополь
                            option Ставрополь
                            option Сыктывкар
                            option Сургут
                            option Тамбов
                            option Тверь
                            option Тюмень
                            option Уфа
                            option Улан-Удэ
                            option Ульяновск
                            option Ухта
                            option Хабаровск
                            option Чебоксары
                            option Челябинск
                            option Череповец
                            option Чита
                            option Южно-Сахалинск
                            option Якутск
                            option Ярославль

                .form__field.form__field_select
                    label.form__label.flex
                        span.form__label-text Модель
                        .form__select-arrow
                        select.form__select
                            option(selected disabled) Выберите модель
                            option Lexus LX450 4.5d
                            option Lexus RX 200t

                .form__field
                    label.form__label.flex
                        span.form__label-text Желаемая дата работ
                        input.form__input(type="text" value="" placeholder="Введите дату")

                .form__field
                    label.form__label.flex
                        span.form__label-text Имя
                        input.form__input(type="text" value="" placeholder="Введите ваше имя")

                .form__field
                    label.form__label.flex
                        span.form__label-text Телефон
                        input.form__input(type="text" value="" placeholder="Введите ваш телефон")


                input.form__submit.button.button_reg(type="submit" value="Записаться")