mixin hero(data)
    section.hero&attributes(attributes)
        .hero__slider.swiper-container
            .swiper-wrapper
                .hero__slide.swiper-slide
                    img.hero__image.lazy(data-src="assets/images/content/slider-img-1.jpg", alt="")

                    .hero__container.container
                        .hero__content
                            h1.hero__title.title Прошивки для <br/>повышения мощности
                            .hero__text
                                p Магазин авторских прошивок для Lexus и Toyota

                            a.hero__button.open-popup.button(href="#sign-up-w-discount") Записаться на чип тюнинг
                                span со скидкой 5%

                .hero__slide.swiper-slide
                    img.hero__image.lazy(data-src="assets/images/content/slider-img-1.jpg", alt="")

                    .hero__container.container
                        .hero__content
                            h1.hero__title.title Прошивки для <br/>повышения мощности
                            .hero__text
                                p Магазин авторских прошивок для Lexus и Toyota


                .hero__slide.swiper-slide
                    img.hero__image.lazy(data-src="assets/images/content/slider-img-1.jpg", alt="")

                    .hero__container.container
                        .hero__content
                            h1.hero__title.title Прошивки для <br/>повышения мощности
                            .hero__text
                                p Магазин авторских прошивок для Lexus и Toyota

                            a.hero__button.open-popup.button(href="#sign-up-w-discount") Записаться на чип тюнинг
                                span со скидкой 5%


            .hero__pagination.swiper-pagination.flex