mixin faq(data)
    .faq
        .faq__text.text
            p Как мы выполняем чип тюнинг на примере Land Cruiser Prado 3.0D Вы можете посмотреть
                a(href="") здесь

            p Чип тюнинг двигателя Toyota и Lexus — это усовершенствование программы ЭБУ (электронный блок управления) двигателя, которая разрабатывается непосредственно для Вашего автомобиля.

            p Результатом нашей работы является прирост мощности (лошадиных сил) Toyota и Lexus, а также изменение крутящего момента (Нм). Мощность влияет на скоростные характеристики автомобиля, крутящий момент на динамику разгона.

            p Мы сделаем Ваш автомобиль быстрее и мощнее при неизменном расходе топлива и сохранив заводской ресурс двигателя.

            p Для турбированных дизельных двигателей прирост мощности и крутящего момента после чип-тюнинга составляет более 30%

            p Для бензиновых атмосферных двигателей прирост мощности и крутящего момента после чип-тюнинга составляет до 20%

        dl.faq__list
            .faq__item
                .faq__item-in
                    dt.faq__question Чип тюнинг безопасен для моей TOYOTA и LEXUS ?
                    dd.faq__answer
                        p Рассмотрим на примере TOYOTA LAND CRUISER 200 с дизельным двигателем, которая поставляется на российский рынок с заранее дефорсированным (сниженная мощность) двигателем в 235 л.с. (с целью попадания в нужный диапазон транспортного налога в РФ)
                        p Абсолютно аналогичная модель TOYOTA LAND CRUISER 200 поставляется на европейский рынок с практически 300 л.с. (и на рынке, соответственно, есть предложения по приобретению ЭБУ TOYOTA из Европы для замены ЭБУ из РФ)
                        p Отсюда вывод — прирост мощности, полученный в результате чип тюнинга электронного блока управления TOYOTA, заранее (программно) заложен производителем TOYOTA MOTOR RUS во все дизельные двигатели TOYOTA.

            .faq__item
                .faq__item-in
                    dt.faq__question Каким образом вы сделаете чип-тюнинг на моём автомобиле ?
                    dd.faq__answer
                        p Программа для каждого двигателя хранится в памяти блока управления. Эту программу можно прочитать при помощи компьютера со специальным оборудованием. В большинстве случаев мы можем считать/записать данные с помощью бортового диагностического порта (OBD), таким образом нет необходимости извлекать блок управления.

            .faq__item
                .faq__item-in
                    dt.faq__question Можно ли перепрограммировать мою машину ?
                    dd.faq__answer
                        p Мы можем настроить ECU на большинстве автомобилей Toyota и Lexus, выпускаемых с 2003 года по настоящее время (мы сконцентрированы на данных брендах).

            .faq__item
                .faq__item-in
                    dt.faq__question Чип тюнинг безопасен для моей TOYOTA и LEXUS ?
                    dd.faq__answer
                        p Рассмотрим на примере TOYOTA LAND CRUISER 200 с дизельным двигателем, которая поставляется на российский рынок с заранее дефорсированным (сниженная мощность) двигателем в 235 л.с. (с целью попадания в нужный диапазон транспортного налога в РФ)
                        p Абсолютно аналогичная модель TOYOTA LAND CRUISER 200 поставляется на европейский рынок с практически 300 л.с. (и на рынке, соответственно, есть предложения по приобретению ЭБУ TOYOTA из Европы для замены ЭБУ из РФ)
                        p Отсюда вывод — прирост мощности, полученный в результате чип тюнинга электронного блока управления TOYOTA, заранее (программно) заложен производителем TOYOTA MOTOR RUS во все дизельные двигатели TOYOTA.

            .faq__item
                .faq__item-in
                    dt.faq__question У Вас есть программа «Тест-Драйв» (бесплатное тестирование усовершенствованной прошивки)?
                    dd.faq__answer
                        p Да, у нас есть программа «Тест-Драйв», в рамках которой у автовладельцев Toyota и Lexus есть период для бесплатного тестирования усовершенствованной прошивки. В течении данного периода автовладелец может бесплатно вернуться к стоковой (заводской) прошивке ЭБУ и получить обратно свои средства (в 100% объеме).



            .faq__item
                .faq__item-in
                    dt.faq__question Зачем отключать клапан EGR на дизельных двигателях ?
                    dd.faq__answer
                        p EGR — это система рециркуляции отработавших газов, которая предназначена для снижения в отработавших газах оксидов азота за счет возврата части отработавших газов во впускной коллектор. Оксид азота (NOx) под воздействием высоких температур окисляется, следовательно, уменьшается количество вредных выбросов в атмосферу. Выхлопной газ, повторно поданный назад в цилиндры, добавляет в двигатель вызывающие износ загрязнители (сажу и смолы) и быстрее окисляет моторное масло (пропускное сечение впускного коллектора сильно уменьшается при этом, что проявляется в снижении мощности двигателя), что отрицательно сказывается на ресурсе двигателя. Таким образом, основной плюс программного отключения системы EGR — это чистота двигателя, минус — ухудшение экологических параметров, однако углеводородные выделения, выбросы макрочастиц (сажа), угарного и углекислого газов существенно уменьшаются. Ресурс системы EGR составляет от 60 до 100 тыс. км.


            .faq__item
                .faq__item-in
                    dt.faq__question Сократится ли срок жизни двигателя после чип-тюнинга ?
                    dd.faq__answer
                        p Мы оптимизируем настройки двигателя не превышая пределы надежности. Если машина эксплуатируется в нормальном режиме, то «срок жизни» двигателя равен заводскому значению. Если машина будет эксплуатироваться в экстримальных условиях (напр. гонки) то, срок службы двигателя может сократится до 3-5%. Это означает, что двигатель прослужит 570000 км, вместо 600000, заявленных заводом изготовителем (и чип тюнинг здесь не при чём)

            .faq__item
                .faq__item-in
                    dt.faq__question Как насчет расхода топлива ?
                    dd.faq__answer
                        p В зависимости от стиля вождения. Оптимальные настройки и увеличения крутящего момента обычно приводит к сокращению расхода топлива до 10%.

            .faq__item
                .faq__item-in
                    dt.faq__question Увидят ли дилеры во время прохождения технического обслуживания (inspection), что на машине сделан чип-тюнинг?

                    dd.faq__answer
                        p Нет, дилеры не смогут увидеть изменение программы управления двигателем с их оборудованием, т.к. чип-тюнинг проводится на основе оригинальной программы.

            .faq__item
                .faq__item-in
                    dt.faq__question Возрастет ли температура работы двигателя после оптимизации ?
                    dd.faq__answer
                        p Возможен небольшой рост температуры во время экстримального эксплуатирования автомобиля (гонки) в пределах 3-5 градусов.


            .faq__item
                .faq__item-in
                    dt.faq__question В каком диапазоне оборотов произойдет повышение мощности и крутящего момента автомобиля?
                    dd.faq__answer
                        p С нашей оптимизацией программы вы почувствуете повышение мощности во всем диапазоне оборотов, в особенности на низких и средних оборотах. Чип-тюнинг дает прибавку мощности и крутящего момента. Величина этой прибавки зависит от типа и конструкции двигателя, режима его работы. После чипования мощность обычно увеличивается на 5-25% при увеличении крутящего момента на 10-50%. Обычно говорят о возросшей мощности, хотя субъективно она ощущается значительно меньше прироста крутящего момента.

            .faq__item
                .faq__item-in
                    dt.faq__question За счёт чего появляются дополнительные мощность и крутящий момент двигателя ?
                    dd.faq__answer
                        p Для увеличения мощности двигателя мы можем изменить установку угла опережения зажигания, величину времени впрыска, отключить или изменить режим работы систем, контролирующих токсичность выхлопных газов, для двигателей с наддувом можно изменить величину давления наддува и другие параметры управления двигателем. Кроме того, возможно увеличить максимально разрешённые обороты двигателя и максимально допустимую скорость автомобиля.

            .faq__item
                .faq__item-in
                    dt.faq__question Есть ли у Вас скидки на чип тюнинг Toyota и Lexus ?
                    dd.faq__answer
                        p Да, есть. Мы разработали следующую систему скидок:

                        p 1) Сделай <a href="#">репост</a> первой записи на стене нашей группы и получи скидку 5% !

                        p 2) Скидка ко Дню Вашего Рождения составляет 10% !

                        p 3) Скидка по программе «Приведи друга» — если Вы приехали вдвоем с другом, то скидка для каждого составит 15% !
