mixin contacts(data)
    .contacts
        .contacts__text.text
            p Единый номер для записи и консультации: +7 (812) 426-34-38 (звонок для Вас бесплатный)
            p Или воспользуйтесь ONLINE-записью (со скидкой 5%):
                a.open-popup(href="#sign-up-w-discount") ЗАПИСАТЬСЯ ONLINE
            p Наши филиалы представлены в следующих городах (оператор Вас соединит):

        .contacts__row.flex
            .contacts__col
                .contacts__country
                ul.contacts__cities
                    li.contacts__city Москва
                    li.contacts__city Альметьевск
                    li.contacts__city Анапа
                    li.contacts__city Архангельск
                    li.contacts__city Астрахань
                    li.contacts__city Барнаул
                    li.contacts__city Брянск
                    li.contacts__city Владивосток
                    li.contacts__city Волгоград
                    li.contacts__city Вологда
                    li.contacts__city Воронеж
                    li.contacts__city Владикавказ
                    li.contacts__city Грозный
                    li.contacts__city Екатеринбург
                    li.contacts__city Иваново
                    li.contacts__city Ижевск
                    li.contacts__city Иркутск
                    li.contacts__city Йошкар
                    li.contacts__city Казань
                    li.contacts__city Калуга
                    li.contacts__city Калининград

            .contacts__col
                ul.contacts__cities
                    li.contacts__city Киров
                    li.contacts__city Кемерово
                    li.contacts__city Краснодар
                    li.contacts__city Красноярск
                    li.contacts__city Кызыл (республика Тыва)
                    li.contacts__city Магнитогорск
                    li.contacts__city Махачкала
                    li.contacts__city Мурманск
                    li.contacts__city Набережные Челны
                    li.contacts__city Наро-фоминск
                    li.contacts__city Нижний Новгород
                    li.contacts__city Новосибирск
                    li.contacts__city Орел
                    li.contacts__city Обнинск
                    li.contacts__city Омск
                    li.contacts__city Оренбург
                    li.contacts__city Пермь
                    li.contacts__city Пенза
                    li.contacts__city Пятигорск
                    li.contacts__city Ростов-на-Дону
                    li.contacts__city Рязань
                    li.contacts__city Самара
                    li.contacts__city Саратов

            .contacts__col
                ul.contacts__cities
                    li.contacts__city Севастополь
                    li.contacts__city Ставрополь
                    li.contacts__city Сыктывкар
                    li.contacts__city Сургут
                    li.contacts__city Тамбов
                    li.contacts__city Тверь
                    li.contacts__city Тюмень
                    li.contacts__city Уфа
                    li.contacts__city Улан-Удэ
                    li.contacts__city Ульяновск
                    li.contacts__city Ухта
                    li.contacts__city Хабаровск
                    li.contacts__city Чебоксары
                    li.contacts__city Челябинск
                    li.contacts__city Череповец
                    li.contacts__city Чита
                    li.contacts__city Южно-Сахалинск
                    li.contacts__city Якутск
                    li.contacts__city Ярославль

        .contacts__row.flex
            .contacts__col
                .contacts__country-foreight
                    h3.contacts__country Казахстан
                    ul.contacts__cities
                        li.contacts__city Алматы
                        li.contacts__city Астана
                        li.contacts__city Актобе

                .contacts__country-foreight
                    h3.contacts__country.contacts__country_byelarus  Белоруссия
                    ul.contacts__cities
                        li.contacts__city Минск


            .contacts__col
                .contacts__country-foreight
                    h3.contacts__country Украина
                    ul.contacts__cities
                        li.contacts__city Харьков
                        li.contacts__city Киев

                .contacts__country-foreight
                    h3.contacts__country Молдова
                    ul.contacts__cities
                        li.contacts__city Кишинев