mixin filter(data)
    .filter&attributes(attributes)
        .filter__form.flex
            .filter__field.filter__field_1.form__field.form__field_select
                select.form__select.filter__select
                    option(selected disabled) Марка
                    option Lexus
                    option Toyota
            .filter__field.filter__field_2.form__field.form__field_select
                select.form__select.filter__select
                    option(selected disabled) Модель
                    option Lexus LX450 4.5d
                    option Lexus RX 200t

            .filter__field.filter__field_3.form__field.form__field_select
                select.form__select.filter__select
                    option(selected disabled) Объём двигателя
                    option Объём двигателя
                    option Объём двигателя