mixin trusted(data)
    section.trusted
        .trusted__in.container
            h2.trusted__title.title Нам доверяют профессионалы

            .trusted__grid.flex
                article.trusted__item
                    .trusted__item-in
                        a.trusted__object(href="assets/images/content/trusted-img-1.png")
                            img.lazy(data-src="assets/images/content/trusted-img-1.png", alt="")
                article.trusted__item
                    .trusted__item-in
                        a.trusted__object(href="assets/images/content/trusted-img-1.png")
                            img.lazy(data-src="assets/images/content/trusted-img-1.png", alt="")
                article.trusted__item
                    .trusted__item-in
                        a.trusted__object(href="assets/images/content/trusted-img-1.png")
                            img.lazy(data-src="assets/images/content/trusted-img-1.png", alt="")
                article.trusted__item
                    .trusted__item-in
                        a.trusted__object(href="assets/images/content/trusted-img-1.png")
                            img.lazy(data-src="assets/images/content/trusted-img-1.png", alt="")
