mixin phone(data)
    .phone.flex&attributes(attributes)
        a.phone__link(href="tel:+88003336954") 8 800 333 69 54


mixin phone-w-text(data)
    .phone.flex&attributes(attributes)
        a.phone__link(href="tel:+88003336954") 8 800 333 69 54

        p.phone__text Звонок по России бесплатный