mixin main-thing(data)
    section.main-thing&attributes(attributes)
        .main-thing__in.container
            h2.main-thing__title.title Что главное в чип тюнинге <br/>Toyota и Lexus ?
            .main-thing__text.text
                p Главное — это качественный и безопасный для автомобиля прирост мощности, который достигается:

            dl.main-thing__list
                dt.main-thing__term Большим опытом работы с ЭБУ Toyota и Lexus с 2015 года
                dt.main-thing__term Качественным программным обеспечением TL CHIP
                dt.main-thing__term Сконцентрированной работой только с одним брендом
                dd.main-thing__desc Нами изучены все программные решения для Toyota & Lexus на российском и европейских рынках и собраны только плюсы в нашей прошивке
                dt.main-thing__term Регулярной обратной связью и обновлением ПО
                dd.main-thing__desc В день мы выполняем чип тюнинг для 4-7 автомобилей Toyota и Lexus, у нас более 47 филиалов по РФ и СНГ
                dt.main-thing__term Положительными отзывами от участников международного форума Prado-club.su
                dd.main-thing__desc Можно посмотреть здесь:
                    a(href="#") tl-chip.ru/recall
                dt.main-thing__term Сотрудничеством со многими салонами Toyota и Lexus
                dd.main-thing__desc Мы сотрудничаем со многими салонами Toyota и Lexus, которые провели многоуровневое тестирование и признали высокое качество нашего программного обеспечения TL CHIP (обкатка и тестирование ПО на автомобилях тест-драйв выполняется в течении 1 года)
                dt.main-thing__term Партнерством с федеральной сетью ugona.net
                dd.main-thing__desc В этом году мы также заключили партнерское соглашения с федеральной сетью ugona.net (безопасность для Вашего автомобиля), где Вы также можете воспользоваться услугой повышения мощности от TL CHIP

            .main-thing__important
                .main-thing__important-in
                    .main-thing__important-title Важно!
                    .main-thing__important-text Оказание услуг производится при технически исправном автомобиле. Перед оказанием услуг Ваш автомобиль проходит полную диагностику работы электронных систем.